/* .normal-text{
  font-size: 24px;
  margin: 20px auto;
  width: 40%;
  min-width: 500px;
}
/* 
@media (max-width: 1000px) {
  .about-me-p {
    width: 60%;
  }
} 

@media (max-width: 600px) {
  .normal-text {
    font-size: 16px;
    margin: 10px auto;
    width: 80%;
    min-width: 100px;
  }
} */