.link {
  text-decoration: underline;
  display: inline-block;
  vertical-align: middle;
}
.big {
  font-size: 28px;
  margin: 10px 15px;
  width: 200px;
  max-width: 30%;
}
.small {
  font-size: 18px;
  margin: 5px 15px;
  width: 100px;
}
.link:hover {
  transform: scale(1.15);
  transition-duration: 0.25s;
  cursor: pointer;
}

@media (max-width: 600px) {
  .big {
    font-size: 24px;
    margin: 20px 10px;
    max-width: 40%;
  }
  .small {
    font-size: 12px;
    max-width: 23%;
    width: auto;
    margin: 2px;
  }
}