.link {
  text-decoration: underline;
  display: inline-block;
}
a {
  color: #E5E5E5;
}
.big {
  font-size: 28px;
  margin: 10px 15px;
  width: 200px;
  max-width: 30%;
  vertical-align: middle;
}
.small {
  font-size: 20px;
  margin: 5px 15px;
  width: 150px;
}
.big:hover {
  transform: scale(1.15);
  transition-duration: 0.2s;
  cursor: pointer;
}
@media (max-width: 800px) {
  .small {
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .big {
    font-size: 18px;
    margin: 20px 10px;
    max-width: 40%;
  }
  .small {
    font-size: 12px;
    max-width: 23%;
    margin: 2px;
  }
}