.link {
  text-decoration: underline;
  display: inline-block;
  vertical-align: middle;
}
.big {
  font-size: 32px;
  margin: 10px 30px;
  width: 200px;
}
.small {
  font-size: 18px;
  margin: 5px 15px;
  width: 100px;
}
.link:hover {
  transform: scale(1.15);
  transition-duration: 0.25s;
  cursor: pointer;
}