.scriptName {
  height: 10%;
  display: block;
  margin: 30px auto 20px;
}

.scriptName:hover {
  cursor: pointer;
  transform: scale(1.15);
  transition-duration: 0.25s;
}


@media (max-width: 600px) {
  .scriptName {
    width: 75%;
    height: auto;
  }
}