.background {
  background-color: #5D04A3;
  height: 100vh;
  width: 100vw;
  z-index: 0;
  position: absolute;
}
.main {
  background:
    linear-gradient(to bottom right, #E03030 0%, #5D04A3 40%) bottom right,
    linear-gradient(to bottom left, #E03030 0%, #5D04A3 40%) bottom left,
    linear-gradient(to top left, #E03030 0%, #5D04A3 40%) top left,
    linear-gradient(to top right, #E03030 0%, #5D04A3 40%) top right;
  background-size:50.1% 50.1%;
  background-repeat:no-repeat;
  width: 100vw;
  height: 90vh;
  overflow-y: scroll;
  position: fixed;
  text-align: center;
  color: #E5E5E5;
}
h2 {
  margin-top: 50px;
  font-size: 30px;
  margin-bottom: 10px;
}

.App {
  text-align: center;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.main::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.main {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.normal-text{
  font-size: 24px;
  margin: 20px auto;
  width: 50%;
  min-width: 500px;
}
.small-text{
  font-size: 22px;
  margin: 20px auto;
  width: 50%;
  min-width: 500px;
}
/* 
@media (max-width: 1000px) {
  .about-me-p {
    width: 60%;
  }
} */
ul {
  list-style: none;
}
li {
  padding: 10px 0px;
}

@media (max-width: 600px) {
  .bigLinkSpacer {
    width: 100%;
    margin: auto;
  }
  .main{
    height: 85vh;
  }
  .normal-text {
    font-size: 16px;
    margin: 10px auto;
    width: 80%;
    min-width: 100px;
  }
  .small-text{
    font-size: 14px;
    margin: 20px auto;
    width: 80%;
    min-width: 100px;
  }
}